/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
.header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-title {
    font-size: 2.5em;
    font-weight: bold;
}



/* Estilo para el contenedor del icono */
.container-icono-carrito {
    width: 40px;        /* Tamaño del contenedor */
    height: 40px;
    display: block;
    margin: 20px auto;
}

/* Estilo inicial para el icono */
.btn-abrir-modal {
    width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
    height: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
    object-fit: contain;
    transition: transform 1s ease; /* Transición suave de 1 segundo */
}

/* Clase que se añadirá cuando el carrito se haya clickeado (para rotar) */
.rotar {
    transform: rotate(180deg); /* Rotación de 180 grados */
}

/* Contenedor principal de productos */
.container-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

/* Contenedor de productos */
.productos-container {
    display: flex;
    /*flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    */
    flex-direction: column;
    align-items: center;
    width: 70%;
    
}

/* Card de productos */
.card {
    background-color: white;
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: 30px 0;
    padding: 30px 0;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.card-description {
    font-size: 1em;
    color: #555;
}

.card-price {
    font-size: 1.2em;
    color: #28a745;
    font-weight: bold;
}

.card-stock {
    font-size: 0.9em;
    color: #777;
}

.btn-agregar {
    display: inline-block;
    padding: 10px 60px;
    background-color: #007bff;
    color: #f0f0f0;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    transition: background-color 0.3s;
    
}

.btn-agregar:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.link-agregar{
    text-decoration: none !important;
    color: #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.btn-agotado {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: not-allowed; /* Cambia el cursor para indicar que no se puede hacer clic */
    opacity: 0.6; /* Añade un poco de transparencia para indicar que está deshabilitado */
}

/* Contenido del modal */
.modal-container{
    
    width: 40%;
    z-index: 1000;
    position: fixed;
    top: 200px
    
    
}
.modal-content {
    
    border-radius: 8px;
    padding: 20px;
    width: 40vw;
    background-color: gray;
    
    
}

/* Título del modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 15px;
}

.modal-header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.modal-header .close-btn {
    font-size: 30px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.modal-header .close-btn:hover {
    color: #dc3545; /* Color rojo para el hover */
}

/* Tabla de productos en el carrito */
.carrito-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.carrito-table th, .carrito-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.carrito-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
}

.carrito-table td {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #007BFF;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Total del carrito */
.total-row {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.total-carrito {
    font-size: 18px;
    font-weight: normal;
    color: #333;
}

/* Botones del modal */
.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-footer a {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.modal-footer a:hover {
    background-color: #218838;
}

.btn-limpiar {
    background-color: #dc3545;
}

.btn-limpiar:hover {
    background-color: #c82333;
}

/* Estilos adicionales */
.close-btn {
    cursor: pointer;
    font-size: 30px;
}

/* Media Queries para hacer el diseño responsive */

