<!-- Ventana modal -->
<div class="modal-container" id="modalCarrito">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Carrito</h2>
            <!-- Botón de cierre con el id "cerrarModalBtn" -->
            <span id="cerrarModalBtn" class="close-btn">&times;</span>
        </div>
        
        <table class="carrito-table">
            <thead>
                <tr>
                    <th class="carrito-header" colspan="3">Carrito</th>
                </tr>
                <tr>
                    <th class="table-header">Nombre</th>
                    <th class="table-header">Precio</th>
                    <th class="table-header">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% if request.session.carrito.items %}
                    {% for key, value in request.session.carrito.items %}
                        <tr class="carrito-item">
                            <td class="producto-nombre">{{ value.nombre }}</td>
                            <td class="producto-precio">${{ value.precio }}</td>
                            <td class="producto-cantidad">
                                {{ value.precioFinal }}
                                <a href="{% url 'Restar' value.productoId %}" class="accion-carrito">-</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3" class="sin-productos">Sin productos</td>
                    </tr>
                {% endif %}
                
                <tr class="total-row">
                    <th class="total-label">Total: </th>
                    <td colspan="2" class="total-carrito">$ {{ ordenCompra }}</td>
                </tr>
            </tbody>
        </table>
        
        <div class="modal-footer">
            <a href="{% url 'Limpiar' %}" class="btn-limpiar">Limpiar</a>
            <a href="#" class="btn-finalizar">Finalizar</a>
        </div>
    </div>
</div>
